@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



@import "tailwindcss";

@import "uploadthing/tw/v4";
@source "../../node_modules/@uploadthing/react/dist"; /* <-- depends on your project structure  */


body {
  @apply bg-black text-white flex flex-col gap-4;
}
/* Dialog overrides because it was calculating a margin/widths */
dialog {
  max-width: 100vw;
  max-height: 100vh;
}